/* reset */
html{color:#000;background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:14px/1.75 "宋体",arial,sans-serif;}
img{border:none;}
em,strong{font-style:normal;font-weight:normal;}
li{list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
h1{font-size:18px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4, h5, h6{font-size:100%;}

q:before,q:after{content:'';}/* 消除q前后的内容 */
button,input,select,textarea{font-size:100%;}/* 使得表单元素在 ie 下能继承字体大小 */
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
address,cite,dfn,em,var{font-style:normal;} /* 将斜体扶正 */
a{ text-decoration: none }

html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
	background: -webkit-linear-gradient(rgb(21, 21, 108),rgb(0, 255, 236));
	background: linear-gradient(rgb(21, 21, 108),rgb(0, 255, 236));
	color: white;
}
.container{
	display: none;
}
.loading{
	overflow: hidden;
	background: -webkit-linear-gradient(rgb(21, 21, 108),rgb(0, 255, 236));
	background: linear-gradient(rgb(21, 21, 108),rgb(0, 255, 236));
	position: relative;
	width: 100%;
	height: 100%
}
.loading_writing{
	position: absolute;
	top:60%;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 20px;
}
.commonSEC{
	position: relative;
	overflow: hidden;
}
.langbtn{
	position: fixed;
	width: 30px;
	height: 30px;
	background: url(../img/more.png) no-repeat;
	background-size: 30px;
	top:20px;
	left: 20px;
	z-index: 1000;
}
.lay{
	width: 100%;
	height: 100%;
	position: fixed;
	background: black;
	opacity: 0.6;
	z-index: 10;
	display: none;
}
.lang{
	display: block;
	position: fixed;
	width: 200px;
	text-align: center;
	color: white;
	z-index: 11;
	left: 50%;
	margin-left: -100px;
	background: #666;
	padding:10px 0px;
	display: none
}
.chinese{
	top:25%;
}
.en{
	top:40%;
}
.jp{
	top:55%;
}
.section0{
	position: absolute;
	top:0px;
	left:0px;
	z-index: 1;
	animation: fadeOut 2s ;
	-webkit-animation: fadeOut 2s;
}
.section1,.section2{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../img/bg.png) no-repeat;
	background-size: cover;
}
@keyframes fadeOut
{
	from {opacity:1;}
	to {opacity:0;}
}

@-webkit-keyframes fadeOut /* Safari and Chrome */
{
	from {opacity:1;}
	to {opacity:0;}
}
.secBlock{
	display: none;
	opacity: 0;
}
.itemnav{
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.upup{
	position: absolute;
	left:50%;
	bottom: 10px;
	width: 41px;
	height: 21px;
	background: url(../img/upBnt.png) no-repeat;
	background-size: 41px 21px;
	margin-left: -20px;
	animation: upbnts 0.8s infinite alternate;
	-webkit-animation: upbnts 0.8s infinite alternate;
}
@keyframes upbnts
{
	from {opacity:1;bottom: 5px;}
	to {opacity:0.3;bottom: 15px;}
}

@-webkit-keyframes upbnts /* Safari and Chrome */
{
	from {opacity:1;bottom: 5px;}
	to {opacity:0.3;bottom: 15px;}
}
.item{
	position: absolute;
}
.item1_1{
	position: relative;
	text-align: center;
	font-size:1.5em;
	text-shadow: 2px 2px 4px #000000;
	top:30%;
	animation: route 3s ;
	-webkit-animation: route 3s ;
}

@keyframes route{
	0% {transform:translate3d(0,-1000px,0) scale3d(0.1,0.1,0.1);-webkit-transform:translate3d(0,-1000px,0) scale3d(0.1,0.1,0.1);}
	60% {transform:translate3d(0,0,0) scale3d(1.5,1.5,1.5);-webkit-transform:translate3d(0,0,0) scale3d(1.5,1.5,1.5);}
}

@-webkit-keyframes route {/* Safari and Chrome */
	0% {transform:translate3d(0,-1000px,0) scale3d(0.1,0.1,0.1);-webkit-transform:translate3d(0,-1000px,0) scale3d(0.1,0.1,0.1);}
	60% {transform:translate3d(0,40px,0) scale3d(0.6,0.6,0.6);-webkit-transform:translate3d(0,40px,0) scale3d(0.6,0.6,0.6);}
}

.item1_2{
	position: relative;
	text-align: center;
	font-size:1em;
	top:80%;
	text-shadow: 2px 2px 4px #000000;
	animation: fadeIn 3.5s;
	-webkit-animation: fadeIn 3.5s;
}

@keyframes fadeIn{
	0% {opacity: 0;}
	80%{opacity:0.4; }
}

@-webkit-keyframes fadeIn{
	0% {opacity: 0;}
	80%{opacity:0.4; }
}

.item2_1{
	position: relative;
	text-align: center;
	font-size:1.5em;
	text-shadow: 2px 2px 4px #000000;
	padding:20px 0px;
}
.item2_2{
	text-align: right;
	padding-right: 20px;
}
.item2_3{
	position: absolute;
	bottom:50px;
	left:30px;
	border-left: 2px solid #666;
	padding: 3px 0px 3px 10px;
	animation: tranY 1s;
	-webkit-animation: tranY 1s;
}

@keyframes tranY{
	from{ transform: translateX(-300px);-webkit-transform:translateX(-300px) ;}
	to{transform: translateX(0px);-webkit-transform:translateX(0px)}
}

@-webkit-keyframes tranY{
	from{ transform: translateX(-300px);-webkit-transform:translateX(-300px) ;}
	to{transform: translateX(0px);-webkit-transform:translateX(0px)}
}
.persondetail{
	background: white;
	padding:5px 20px;
	color: black;
	border-radius: 5px;
	position: relative;
}
.persondetail:after{
	width: 31px;
	height: 27px;
	background: url(../img/handLink.png) no-repeat;
	background-size: 31px 27px;
	position: absolute;
	top:18px;
	left: 60%;
	content: "";
	animation: bigger 1s infinite alternate;
	-webkit-animation: bigger 1s infinite alternate;
}

@keyframes bigger
{
	from {-webkit-transform: scale(1.1);transform: scale(1.1);opacity: 0.6 }
	to {-webkit-transform: scale(1);transform: scale(1);opacity: 1}
}

@-webkit-keyframes bigger /* Safari and Chrome */
{
	from {-webkit-transform: scale(1.1);transform: scale(1.1);opacity: 0.6 }
	to {-webkit-transform: scale(1);transform: scale(1);opacity: 1}
}
.star{
	width: 150px;
	height: 14px;
	background: url(../img/star.png) no-repeat  0px -18px;
	background-size: 90px 84px;
	display: inline-block;
}
.html{
	animation: tranYX 2s cubic-bezier(0.1,0.6,0.1,1);
	-webkit-animation: tranYX 2s cubic-bezier(0.1,0.6,0.1,1);
}
.css{
	animation: tranYX 2s cubic-bezier(0.1,0.5,0.1,1);
	-webkit-animation: tranYX 2s cubic-bezier(0.1,0.5,0.1,1);
}
.js{
	animation: tranYX 2s cubic-bezier(0.1,0.4,0.1,1);
	-webkit-animation: tranYX 2s cubic-bezier(0.1,0.4,0.1,1);
}
@keyframes tranYX{
	0% {transform: translateX(600px);-webkit-transform:translateX(600px);opacity: 0}
	50%{ transform: translateX(600px);-webkit-transform:translateX(600px);opacity: 0}
	100%{transform: translateX(0px);-webkit-transform:translateX(0px);opacity: 1}
}

@-webkit-keyframes tranYX{
	0% {transform: translateX(600px);-webkit-transform:translateX(600px);opacity: 0}
	50%{ transform: translateX(600px);-webkit-transform:translateX(600px);opacity: 0;}
	100%{transform: translateX(0px);-webkit-transform:translateX(0px);opacity: 1;}
}
